/*以下是重置样式部分(先写好)*/
body,div,dl,dd,dt,ul,li,h1,h2,h3,h4,h5,h6,a,p,textarea{
	padding: 0;
	margin: 0;
	font-family: "arial, helvetica, sans-serif";
}

ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
}
img{
	border: none;
	display: block;
}

.clwearfloat{
	zoom: 1;
}
.clwearfloat:after{
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}
