<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div ng-app="" ng-init="click=false">
			<!--AngularJS也有自己的HTML事件指令,比如说通过ng-click定义一个AngularJS单击事件。
对按钮、链接等，我们都可以用ng-click指令属性来实现绑定，如下简单-->
			
		    <button ng-click="click= !click">隐藏/显示</button>
		    <div ng-hide="click">
		    	<!--PS：ng-hide="true"，设置HTML元素不可见。ng-click指令将DOM元素的鼠标点击事件(即mousedown)绑定到一个方法上，当浏览器在该DOM元素上鼠标触发点击事件时，Angular就会调用相应的方法，是不是很简单方便呢！-->
		        请输入一个名字：<input type="text" ng-model="name" />
		        Hello <span ng-bind="name"></span> 
		    </div>
		</div>
		<script src="Angular.js"></script>
	</body>
</html>
